* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

:root {
    --main-color: #f9fafb;
    --secondary-color: #82675e;
}

body {
    background-color: var(--main-color);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    height: 100vh;
}

.left-column {
    background-image: url(dillon-kydd-unsplash-house.jpg);  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.logo-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

.logo {
    background-color: black;
    min-height: 200px;
    opacity: 50%;
}

.left-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
}

form {
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
}

.header,
.submission {
    flex: 1 1 0;
}

.content {
    background-color: white;
    box-shadow: 6px 3px 10px lightgray;
    flex: 1.5 1 0;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
}

.text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 64px;
    width: clamp(500px, 80%, 1000px);
}

.text.two {
    font-style: italic;
}



/* Insert middle CSS here */






button,
.login {
    margin: 32px 0 0 64px;
    min-width: max-content;
}

button {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: 3px 3px 6px gray;
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 8px 48px;
}

button:hover {
    background-color: #864e3b;
    border-color: #864e3b;
}

a:link,
a:visited {
    color: #74a3ee;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #2873ec;
}