* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

:root {
    --main-color: #f9fafb;
    --secondary-color: #82675e;
    --tertiary-color: #74a3ee;
    --quaternary-color: #2873ec;


}

body {
    background-color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
}

.left-column {
    background-image: url(dillon-kydd-unsplash-house.jpg);  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.logo-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

.logo {
    background-color: black;
    min-height: 200px;
    opacity: 50%;
}

.left-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1.5 1 0;
}

.header,
.submission {
    flex: 1 1 0;
}

.content {
    background-color: white;
    box-shadow: 6px 3px 10px lightgray;
    flex: 1 1 0;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
}

.text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 64px;
    width: clamp(500px, 80%, 800px);
}

.text.two {
    font-style: italic;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
}

.content > .text {
    color: #3f3f3f;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 64px;
}

.form-row {
    display: flex;
    gap: 100px;
}

.form-row > div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

label {
    color: #3f3f3f;
}

input {
    border: 1px solid lightgray;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1rem;
    height: 32px;
    width: 300px;
    padding: 16px 8px;
}

input.submitted:invalid {
    border: 1px solid red;  
}

input:focus {
    border: 1px solid var(--quaternary-color);
    box-shadow: 3px 3px 6px lightgray;
    outline: none;
}

input:required + span {
    position: relative;
}

input:required + span::after {
    background-color: var(--tertiary-color);
    border-radius: 4px;
    color: white;
    content: "required";
    font-size: 0.75rem;
    padding: 3px 6px;
    position: absolute;
    top: -59px;
    left: 235px;
}

button {
    margin: 48px 0 0 64px;
}

.login {
    margin: 32px 0 0 64px;
}

button {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: 3px 3px 6px gray;
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 8px 48px;
}

button:hover {
    background-color: #864e3b;
    border-color: #864e3b;
}

a:link,
a:visited {
    color: var(--tertiary-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--quaternary-color)
}